h1{
	font-size: 60px;
	background-color: #851944;
	/* color: rgb(250,255,250); os dois sao iguais*/
	color: #FAFFFA;
	text-align: center;
	font-family: "Arial", sans-serif;

}
h2{
	font-size: 100px;
	font-family: "Arial", sans-serif; /* o navegador analisa a fonte da esuqerda para direita, a sans-serif eh tipo de fonte*/
}
body{

	background-color: #35AF18;
	/*font-size: 20px; O problema é que, se a fonte padrão do usuário tiver tamanho maior ou igual a 20 pixels, estaremos mantendo ou reduzindo o tamanho da fonte padrão!*/
	font-size: 120%; /* Isso aumenta em 20% o tamanho original da fonte.*/
}
p{
	text-align: justify;
	font-family: "Times New Roman";
}